{% extends "layout.html" %}

{% block content %}

<section class="u-align-left u-clearfix u-image u-section-1" src="" data-image-width="801" data-image-height="388" id="sec-e82e">
    <h1 class="u-text u-text-default u-title  u-text-1 custom-background">เว็บตรวจสอบอาการบ้านหมุน</h1>
    <p class="u-large-text u-text u-text-variant u-text-2 custom-background">BPPV: Benign Paroxysmal Positional Vertigo</p>
  </section>
  <section class="u-clearfix u-section-2" id="sec-e642">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1" src="">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <h2 class="u-align-left u-text u-text-1">อาการบ้านหมุน</h2>
                <p class="u-align-left u-text u-text-2">คืออาการเวียนหัว หรือรู้สึกว่าบ้านหมุน สาเหตุที่พบบ่อยที่สุดของอาการบ้านหมุน คือ Benign Paroxysmal Positional Vertigo (BBPV) คือโรคหินปูนในหูชั้นในเคลื่อน โดยหินปูน (otoconia) ในหูชั้นในจะหลุดออกมา แล้วเข้าไปในช่องหูที่เติมไปด้วยของเหลว ซึ่งเป็นเรื่องที่ไม่ควรจะเกิดขึ้น พอมีหินปูนสะสมมากเข้า ก็จะไปขัดขวางการไหลของของเหลว ที่ช่องหูพวกนี้ใช้ตรวจจับการเคลื่อนไหวในหัว ทำให้หูชั้นในส่งสัญญาณการเคลื่อนไหวผิดๆ ไปที่สมอง ทำให้นึกว่ากำลังหมุนตัวอยู่ หรือบรรยากาศรอบตัวกำลังหมุน คุณดูแลรักษาอาการบ้านหมุนด้วยตัวเองได้หลายวิธี แต่ถ้ายังมีอาการบ้านหมุนขึ้นมา ควรไปตรวจรักษากับคุณหมอโดยด่วนจะดีกว่า จะได้รู้แน่ชัดไปเลยว่าไม่ใช่อาการของโรคร้ายแรงอื่นๆ</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="850" data-image-height="612">
              <div class="u-container-layout u-container-layout-2" src=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-3" id="sec-ee12">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="474" data-image-height="355">
              <div class="u-container-layout u-container-layout-1" src=""></div>
            </div>
            <div class="u-align-left u-container-style u-grey-5 u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
              <div class="u-container-layout u-valign-bottom u-container-layout-2">
                <h2 class="u-text u-text-default u-text-1">ขั้นตอนการตรวจสอบอาการของคุณ</h2>
                <p class="u-text u-text-2">1. กดปุ่ม "Check symptoms" ด้านล่างหรือข้างบนแถบเมนู</p>
                <p class="u-text u-text-2">2. กดปุ่ม "Choose File" เพื่อเลือกวีดิโอที่ของผู้ที่มีอาการ</p>
                <p class="u-text u-text-2">3. กดปุ่ม "Upload Video" เพื่องส่งไปประมวลผล</p>
                <p class="u-text u-text-2">4. รอสักครู่ หน้าเว็บจะแสดงผลลัพท์ของคุณว่ามีอาการหรือไม่</p>
                
                <p class="u-text u-text-2" style="color: maroon;" >! หมายเหตุ !</p>
                <p class="u-text u-text-2" style="color: maroon;" > - วีดีโอจะต้องมีความยาวมากกว่า 18 วินาที</p>
                <p class="u-text u-text-2" style="color: maroon;" > - ผู้ป่วย และผู้ถ่ายวีดีโอจะต้องพยายามอยู่ให้นิ่งที่สุด</p>
                <p class="u-text u-text-2" style="color: maroon;" > - ระยะห่างระหว่างกล้องกับผู้ป่วยประมาณ 30 เซนติเมตร</p>
                <p class="u-text u-text-2" style="color: maroon;" > - วีดีโอที่จำนำมาทดสอบต้องเป็นแนวตั้งเท่านั้น</p>
                <a href="/insertVideo" class="u-btn u-button-style u-palette-1-base u-btn-1">ตรวจอาการ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <div>
        <!-- <p>เว็บตรวจสอบว่ามีคุณอาการเวียนหัวบ้านหมุนหรือไม่</p> 
        <img src="../static/img/image.png" alt="picture not found" style="width:50px;height:60px;"> -->
    </div>
    <div>
        

    </div>
{% endblock%}
