{% extends "layout.html" %}

{% block content %}
    <h1>Video Upload Success</h1>
    <!--<p>Your video '{{ item }}' has been uploaded.</p>-->
    <!-- upb_lx,upb_ly,upb_rx,upb_ry -->
    <!-- lwb_lx,lwb_ly,lwb_rx,lwb_ry -->
    {% if (item[0] > 31 and item[1] > 31 and item[2] > 31 and item[3] > 31)
        and (item[4] > 31 and item[5] > 31) and (item[6] > 31 and item[7] > 31)%}
        <h1>คุณมีอาการบ้านหมุนนะ</h1>
        <p>1. ทำ Epley maneuver. หรืออีกชื่อคือ canalith repositioning procedure โดย Epley maneuver จะช่วยคืนความสมดุลย์ให้กลไกในหูชั้นใน เพราะทำให้หินปูนใน vestibular organs (อวัยวะการทรงตัว) กลับเข้าที่ ปกติหินปูนอาจไปติดในหูชั้นในได้ จนทำให้เกิดอาการวิงเวียน คุณทำวิธีนี้ได้เองที่บ้าน แต่ก็ควรผ่านการอบรมแนะนำจากคุณหมอหรือผู้เชี่ยวชาญก่อน เพราะต้องทำเร็วๆ และถูกท่า ในบรรดาคนที่มีอาการบ้านหมุน Epley maneuver นี้ได้ผลถึง 90% เลยทีเดียว ตอนแรกอาจทำแล้วบ้านหมุนหนักกว่าเดิมบ้าง เพราะงั้นควรมีเพื่อนหรือครอบครัวคอยช่วยเหลืออยู่ใกล้ๆ หัวจะได้ลงถูกจุดทุกครั้ง ขั้นตอนของการทำ Epley maneuve</p>
        <p>  - นั่งบนเตียง เอาหมอนวางข้างหลัง พอนอนหงายลงมา (ในขั้นตอนหลังๆ) หมอนจะได้รองรับใต้ไหล่พอดี</p>
        <p>  - หันหน้าไปทางขวา 45°</p>
        <p>  - นอนหงายลงไปเร็วๆ ให้ไหล่อยู่บนหมอน หัวจะอยู่ต่ำกว่าไหล่ โดยที่ยังมองไปทางขวา 45° ให้ค้างท่านี้ไว้ 30 วินาทีด้วยกัน</p>
        <p>  - พอผ่านไป 30 วินาที ให้หันหน้าไปทางซ้าย 90° ระหว่างนี้อย่ายกหัวขึ้นมา แล้วทำท่านี้ค้างไว้ 30 วินาที</p>
        <p>  - หมุนทั้งตัวและหัวไปทางซ้ายอีก 90° แล้วค้างไว้ 30 วินาที ถึงตอนนี้ ท่าปัจจุบันของคุณคือนอนตะแคงซ้าย หัวยังอยู่ต่ำกว่าระดับไหล่</p>
        <p>  - บริหารซ้ำตามนี้วันละ 3 ครั้งเพื่อให้ได้ผลดีที่สุด</p>
        <p>2. ทำ Half Somersault maneuver. หรืออีกชื่อคือ Foster maneuver เป็นอีกท่าบริหารที่ดีมีประโยชน์ ต่างกับ Epley maneuver ตรงที่ไม่ต้องมีคนช่วยเซฟ มีงานวิจัยหนึ่งที่ชี้ว่าใครบ้านหมุนแล้วบริหารทั้ง 2 ท่านี้จะอาการดีขึ้น แต่ท่าบริหารท่า Half Somersault อย่างเดียวก็วิงเวียนน้อยลง ไม่ค่อยเกิดอาการแทรกซ้อน ต้องบริหารซ้ำหลายครั้งหน่อยถึงจะเห็นผล ตามขั้นตอนดังต่อไปนี้</p>
        <p>  - คุกเข่าแล้วเงยหน้ามองเพดาน 2 - 3 วินาที</p>
        <p>  - ก้มหัวแตะพื้น เก็บคางชิดอก กดหัวไปทางเข่า รอจนอาการบ้านหมุนดีขึ้น (ประมาณ 30 วินาที)</p>
        <p>  - หันหน้าไปทางหูข้างที่มีอาการ (เช่น ถ้าวิงเวียนด้านซ้าย ให้หันหน้าไปทางข้อศอกซ้าย) แล้วค้างไว้ท่านี้ 30 วินาที</p>
        <p>  - จากนั้นเงยหน้าขึ้น ให้อยู่ระนาบเดียวกับแผ่นหลัง ตอนที่ยังคุกเข่ายันพื้นอยู่ ให้กระดูกสันหลังเหยียดตรง เอียงหัวทำมุม 45° ค้างไว้ท่านี้ 30 วินาที</p>
        <p>  - ยกหัวและหลังให้กลับมาตั้งตรงอีกครั้ง แต่ยังเอียงหน้าไปทางไหล่ข้างที่บริหาร ไม่ต้องรีบ ค่อยๆ ยืนขึ้นมา</p>
        <p>  - พัก 15 นาทีแล้วค่อยทำซ้ำรอบ 2 หรือบริหารที่อีกข้าง</p>
        <h2>หากยังไม่หายแนะนำให้รีบไปหาหมอโดยด่วนนะ</h2>

    {% elif (item[0] > 31 and item[1] > 31 and item[2] > 31 and item[3] > 31) 
        and (item[4] < 31 and item[5] < 31) and (item[6] < 31 and item[7] < 31)%}
        <h1>คุณอาจจะมีอาการบ้านหมุนนะ</h1>
        <p>  - ลองดื่มน้ำเยอะๆ</p>
        <p>  - นอนพักผ่อนให้เพียงพอ</p>
        <p>  - เปลี่ยนวิธีกินอาการให้มีแระโยชน์</p>
        <p>  - งดเครื่องดื่มแอลกอฮอล์</p>
        <p>  - ออกกำลังกายบ้าง</p>
        <h2>หากยังไม่หายแนะนำให้ไปหาหมอนะ</h2>
    {% else %}
        <h1>คุณปกติดี ช่วงนี้อาจจะมีความเครียดสูงหรือนอนพักไม่พอ</h1>
        <p>  - ลองดื่มน้ำเยอะๆ</p>
        <p>  - นอนพักผ่อนให้เพียงพอ</p>
        <p>  - เปลี่ยนวิธีกินอาการให้มีแระโยชน์</p>
        <p>  - งดเครื่องดื่มแอลกอฮอล์</p>
        <p>  - ออกกำลังกายบ้าง</p>
        <h2>หากยังไม่หายแนะนำให้ไปหาหมอนะ</h2>
    {% endif %}
{% endblock%}