{% extends "layout.html" %}

{% block content %}
    <!--<p>Your video '{{ item }}' has been uploaded.</p>-->
    <!-- mean_lx,mean_ly,mean_rx,mean_ry -->
    {% if ( item == "nervous") %}
    <link rel="stylesheet" href="../static/style/Page-1.css" media="screen">
    <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
    <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">

        <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="256" data-image-height="256" id="sec-f2b1">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-white u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h1 class="u-align-center u-text u-title u-text-1"> สงสัยอาการเกี่ยวข้องกับโรคทางระบบประสาท</h1>
                <p class="u-align-center u-large-text u-text u-text-variant u-text-2 " style="color: maroon;"> แนะนำให้ไปพบแพทย์โดยด่วน</p> 
                <!-- <p class="u-align-center u-large-text u-text u-text-variant u-text-3">&nbsp;แนะนำให้ไปพบแพทย์โดยด่วน -->
                </p>
                <a href="/" class="u-align-center u-border-none u-btn u-button-style u-palette-1-base u-btn-1">Back to home page</a>
            </div>
            </div>
        </div>
        </section>
    </body>

    {% elif ( item == "BPPV" ) %}
        <link rel="stylesheet" href="../static/style/Page-1.css" media="screen">
        <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
        <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">

            <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="256" data-image-height="256" id="sec-f2b1">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-white u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h1 class="u-align-center u-text u-title u-text-1"> มีอาการบ้านหมุน</h1>
                    <p class="u-align-center u-large-text u-text u-text-variant u-text-2"> ช่วงนี้อาจจะมีความเครียดสูงหรือนอนพักไม่พอ</p>
                    <p class="u-align-center u-large-text u-text u-text-variant u-text-2"> แนะนำให้ไปพบแพทย์</p>
                    <p class="u-align-left u-large-text u-text u-text-variant u-text-3">-&nbsp;​ดื่มน้ำให้มากขึ้น<br>- นอนพักผ่อนให้เพียงพอ<br>- กินอาหารให้ครบ 5 หมู่<br>- งดเครื่องดื่มแอลกอฮอล์<br>- ออกกำลังกายสม่ำเสมอ<br>
                    </p>
                    <a href="/" class="u-align-center u-border-none u-btn u-button-style u-palette-1-base u-btn-1">Back to home page</a>
                </div>
                </div>
            </div>
            </section>
        </body>
    {% else %}
        <link rel="stylesheet" href="../static/style/Page-1.css" media="screen">
        <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
        <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">

            <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="256" data-image-height="256" id="sec-f2b1">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-white u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h1 class="u-align-center u-text u-title u-text-1"> คุณปกติดี</h1>
                    <p class="u-align-center u-large-text u-text u-text-variant u-text-2"> ช่วงนี้อาจจะมีความเครียดสูงหรือนอนพักไม่พอ</p>
                    <p class="u-align-left u-large-text u-text u-text-variant u-text-3">-&nbsp;​ดื่มน้ำให้มากขึ้น<br>- นอนพักผ่อนให้เพียงพอ<br>- กินอาหารให้ครบ 5 หมู่<br>- งดเครื่องดื่มแอลกอฮอล์<br>- ออกกำลังกายสม่ำเสมอ<br>- หากยังไม่หายแนะนำให้ไปพบแพทย์
                    </p>
                    <a href="/" class="u-align-center u-border-none u-btn u-button-style u-palette-1-base u-btn-1">Back to home page</a>
                </div>
                </div>
            </div>
            </section>
        </body>
    {% endif %}
{% endblock%}